@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: #020617;
    color: white;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: #6366f1;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background: #0f172a;
}

button {
    transition: all 0.2s ease;
}

button:hover {
    transform: translateY(-2px);
}